.App {
  text-align: center;
}

.container-lg {
  max-width: 1280px;
  margin: 0 auto;
}

.app-bar {
  background-color: #f0f0f0;
  padding: 10px 0;
}
.locations{
  margin: 30px;
}
.heading {
  margin: 0;
}

.grow-in {
  transition: all 0.5s;
}

.container {
  padding: 20px;
}

.grid-container {
  justify-content: space-between;
  align-items: stretch;
}

.grid-item {
  flex: 0 0 auto;
}

@media (max-width: 600px) {
  .grid-item {
    width: 100%;
  }
}
